body {
  margin: 0;
  font-family: 'Karla', sans-serif;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

header {
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 37px;
}

header>p {

  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: right;

  color: #FFFFFF;
}

.header-left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;

  font-style: normal;
  font-weight: 700;
  font-size: 20.7482px;
  line-height: 24px;
  letter-spacing: -0.1em;

  color: #FFFFFF;
}

main {
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.form-conteiner {

  display: flex;
  justify-content: center;
  margin-bottom: 30px;

}

input[type='text'] {
  text-indent: 5px;
  display: flex;
  flex: 1;
  border: 1px solid #D5D4D8;
  border-radius: 5px;
  height: 35px;
  width: 230px;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 14px;
  color: #0D0D0D;
}

input[type='text']::placeholder {


  font-weight: 400;
  font-size: 18px;
  line-height: 14px;
}

.form {
  display: flex;
  max-width: 500px;
  gap: 17px;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  min-width: 160px;
  cursor: pointer;
  height: 40px;
  line-height: 40px;

  flex: 1;
  justify-content: center;

  border: none;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  border-radius: 5px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */


  letter-spacing: -0.1em;

  color: #FFFFFF;
}

.meme-img {
  width: 100%;
}

.meme {
  width: 60%;
  position: relative;
}

.meme-text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
    2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0 2px 0 #000,
    2px 0 0 #000,
    0 -2px 0 #000,
    -2px 0 0 #000,
    2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}